body {
    background-image: url('https://media.istockphoto.com/vectors/diving-hand-draw-cartoon-seamless-pattern-diving-and-water-sport-and-vector-id937516094');
    background-size: cover;
}

.header {
    text-align: center;
    background-color: white;
    font-family: Helvetica;
    padding: 5px;
    line-height: 5px;
    margin: 0;
}

h1 {
    font-size: 50px;
    color: rgb(185, 88, 128);
}

.header p {
    font-weight: bold;
}

.nav {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: maroon;
    border-bottom: 1px solid #ccc;  
}
.nav ul {
	list-style: none;
	width: 800px;
	margin: 0 auto;
    padding: 0; 
}
.nav li {
    float: left;
    margin: 0 auto; 
}
.nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: Helvetica;
	color: rgb(185, 88, 128);
    border-right: 2px solid #ccc; 
    
}
.nav li:last-child a {
    border-left: 2px solid #ccc;
    border-right: 0px;
}
.nav li a:hover {
	color: maroon;
    background-color: #fff; 
}

.blog {
    position: relative;
}
.text-block {
    position: absolute;
    top: 120px;
    left: 20px;
    padding-left: 20px;
    text-align: center;
    font-family: Helvetica;
}

.text-block h2 {
    font-size: 60px;
}

button {
    background-color: maroon;
}

button a {
    color: white;
    font-size: 20px;
}