body {
    background-image: url('https://pe-images.s3.amazonaws.com/type/effects/cc/transparent-background/new-background.jpg');
    background-size: cover;
}

header {
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    padding: 20px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 130px;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    color: #bbbbbb;
    font-family: Helvetica;
    font-size: 25px;
    
}

 li:last-child {
     border-right: none;
 }

.review1 {
    font-family: Helvetica;
    text-align: center;
    color: #bbbbbb;
    padding: 30px;
    margin: 5px 0px;
    
}

h2 {
    font-weight: bold;
}

p {
    font-size: 15px;
    overflow: scroll;
    background-color: black;
    opacity: 0.9;
    padding: 15px;
    line-height: 1.5;
    display: inline-block;
}