body {
    background-image: url('https://pe-images.s3.amazonaws.com/type/effects/cc/transparent-background/new-background.jpg');
    background-size: cover;
}

header {
    text-align: center;
    font-size: 30px;
    color: black;
    background-color: white;
    font-family: Helvetica;
    font-weight: bold;
    padding: 20px;
    opacity: 0.3;
}

.review1 {
    font-family: Helvetica;
    text-align: center;
    color: white;
    padding: 10px;
    margin: 5px 0px;
    
}

h2 {
    font-weight: bold;
}

p {
    font-size: 15px;
    overflow: scroll;
}